<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Undine{% endblock %}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.js"></script>

    <style>
        html {
            font-size: 100%;
        }
    </style>

</head>
<body>

<div class="ui secondary pointing menu">
    <div class="ui container">
        <a href="{{ path('admin-home') }}" class="item">
            Admin
        </a>

        <a href="{{ path('admin-staff_list') }}" class="item">
            List staff
        </a>

        <div class="right menu">
            <a href="{{ logout_url('admin') }}" class="item">
                Logout
            </a>
        </div>
    </div>
</div>

<div class="ui admin body container">
    {% if app.session.flashbag.has('success') %}
        <div class="ui positive message">
            {% for flashMessage in app.session.flashBag.get('success') %}
                <p>
                    {{ flashMessage }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    {{ block('body') }}
</div>

</body>
</html>
