<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Undine{% endblock %}</title>

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="/tmp/semantic-ui/semantic.css">
        <link rel="stylesheet" href="/tmp/css/admin/admin.css">

        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/tmp/semantic-ui/semantic.js"></script>
        <script src="/tmp/js/admin/admin-template.js"></script>
        <script src="/tmp/js/admin/admin.js"></script>
    {% else %}
        <link rel="stylesheet" href="/css/admin/{% asset 'admin.css' 'rev-css-admin.json' %}">

        <script src="/js/admin/{% asset 'admin.js' 'rev-js-admin.json' %}"></script>
    {% endif %}

</head>
<body>

<div class="ui secondary pointing menu">
    {{ knp_menu_render('AppBundle:Builder:adminMenu', {currentClass: 'active'}, 'semantic-ui') }}
</div>

<div class="ui container">
    {{ knp_menu_render('AppBundle:Breadcrumbs:breadcrumbsMenu', {currentClass: 'active'}, 'semantic-ui-breadcrumbs') }}
</div>

<div class="ui admin body container">
    {% if app.session.flashbag.has('success') %}
        <div class="ui positive message">
            {% for flashMessage in app.session.flashBag.get('success') %}
                <p>
                    {{ flashMessage }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    {{ block('body') }}
</div>

{% if app.environment == 'dev' %}
    {{ include('live-reload.html.twig') }}
{% endif %}
</body>
</html>
