{% extends 'admin/layout.html.twig' %}

{% block body %}
    <style>
        .table td:nth-child(3), .table td:nth-child(2), .table th:nth-child(2) {
            width: 1%;
            white-space: nowrap;
        }
    </style>

    <table class="ui striped celled padded table">
        <thead>
        <tr>
            <th>User</th>
            <th>Last active at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <div class="ui image header">
                        <img src="{{ gravatar_url(user.email) }}" class="ui mini rounded image"/>

                        <div class="content">
                            <a href="{{ path('admin-user_view', {id: user.id}) }}">{{ user.name }}</a>

                            <div class="sub header">{{ user.email }}</div>
                        </div>
                    </div>
                </td>
                <td title="{{ user.lastActiveAt | date('h:i d.m.Y.') }}">
                    {{ user.lastActiveAt | time_diff }}
                </td>
                <td>
                    <div class="two ui buttons">
                        <a class="ui labeled icon primary button" href="{{ path('admin-user_edit', {id: user.id}) }}">
                            <i class="user icon"></i>
                            Edit
                        </a>

                        <a class="ui right labeled icon negative button" href="{{ path('admin-user_delete', {id: user.id}) }}">
                            <i class="erase icon"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin-user_create') }}" class="ui labeled icon primary button">
        <i class="user icon"></i>
        Create a new user
    </a>
{% endblock %}
